/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Paul
   ========================================================================== */

body {
  margin: auto;
  font-family: "Palatino", Serif;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(179,179,179)),
    color-stop(0.59, rgb(255,255,255))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(179,179,179) 0%,
    rgb(255,255,255) 100%
  );
  background-color: rgb(179, 179, 179);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  border-bottom: 1px rgb(50,50,50) dotted;
  color: rgb(50,50,50);
  text-decoration: none;
}

a:hover {
  color: rgb(75,75,75);
}

a:visited {
  color: rgb(100,100,100);
}

body > .wrapper {
  display: table;
  padding-left: 2em;
  padding-right : 2em;
}

hgroup {
  margin-left: 1em;
}

hgroup > h1 {
  font-size: 4em;
  text-shadow: 4px 4px 4px gray;
  margin : 0.2em;
}

hgroup > p {
  font-size: 1.5em;
  text-shadow: 4px 4px 4px gray;
  margin-left : 2em;
}

.rotated {
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    font-variant: small-caps;
    font-weight: 700;
    left: 99%;
    top: 10%;
    opacity: 0.3;
    position: absolute;
    font-size: 13em;
}

.wrapper > .row {
  display: table-row;
}

.row > .cell {
  display: table-cell;
  padding: 1em 1em;
  text-align: center;
}

.cell > .caption {
}

.cell > img {
  cursor: pointer;
  box-shadow: 4px 4px 4px black;
}

.cell[zoomed=true] {
  -moz-transition: -moz-transform 1s ease-in-out;
  -moz-transform: scale(3);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -webkit-transform: scale(3);
  -o-transition: -o-transform 1s ease-in-out;
  -o-transform: scale(3);
}

.cell[hires=true] {
  -moz-transition: -moz-transform 0s ease-in-out;
  -moz-transform: scale(1);
  -webkit-transition: -webkit-transform 0s ease-in-out;
  -webkit-transform: scale(1);
  -o-transition: -o-transform 0s ease-in-out;
  -o-transform: scale(1);
  position: absolute;
  top: 10%;
  left: 10%;
}

.back {
  -moz-transition-duration: 1s, 1s;
  -moz-transition-property: opacity;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-property: opacity;
  -o-transition-duration: 1s, 1s;
  -o-transition-property: opacity;
  background: black;
  background-color:#404040;
  background-image: -moz-radial-gradient(50% 50%, circle farthest-side, #222222, #000000 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, #222222, #000000 100%);
  background-image: -o-radial-gradient(50% 50%, circle farthest-side, #222222, #000000 100%);
  background-image: -ms-radial-gradient(50% 50%, circle farthest-side, #222222, #000000 100%);
  background-image: radial-gradient(50% 50%, circle farthest-side, #222222, #000000 100%);
  left: 0px;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  transition-duration: 1s, 1s;
  transition-property: opacity;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.back[hide=true] {
  opacity: 0;
  z-index: -2;
}

.diaporama {
  position: fixed;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  display: table;
  -moz-transition-duration: 0.5s, 0.5s;
  -moz-transition-property: opacity scale;
  -webkit-transition-duration: 0.5s, 0.5s;
  -webkit-transition-property: opacity scale;
  -o-transition-duration: 0.5s, 0.5s;
  -o-transition-property: opacity scale;
  transition-duration: 0.5s, 0.5s;
  transition-property: opacity, scale;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}

.diaporama[hide=true] {
  opacity: 0;
  z-index: -1;
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -o-transform: scale(0.1);
}

.diaporama > .wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.diaporama > .wrapper > img{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*-moz-transition-duration: 1s, 1s;*/
  /*-moz-transition-property: opacity ;*/
  /*-webkit-transition-duration: 1s, 1s;*/
  /*-webkit-transition-property: opacity ;*/
  /*-o-transition-duration: 1s, 0.1s;*/
  /*-o-transition-property: opacity ;*/
  /*transition-duration: 1s, 1s;*/
  /*transition-property: opacity;*/
}

.diaporama > .wrapper > p {
  color: white;
  text-align: center;
}

.ctrlWrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.ctrlWrap > .ctrl {
  color: white;
  cursor: pointer;
  font-size: 2.5em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

footer {
  margin-bottom: 1em;
  margin-left : 2em;
  font-size: 1em;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
